<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Waiting</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f2f2f2;
            padding: 20px;
        }

        h1 {
            color: #333;
        }
    </style>
</head>
<body>
<nav class="navbar">
        <div class="navbar-container container">
            <input type="checkbox" name="" id="">
            <div class="hamburger-lines">
                <span class="line line1"></span>
                <span class="line line2"></span>
                <span class="line line3"></span>
            </div>
            <ul class="menu-items">
                <li><a href="/Allrestaurant">Restaurants</a></li>
                <li><a href="/dietform">Food Preference</a></li>
                <li><a href="/logout">Log Out</a></li>
            </ul>
            <h1 class="logo">Food Express</h1>
        </div>
    </nav>
<h1>Hello {{ name }}</h1>
<h1>Please wait for the new order delivery</h1>
<footer id="footer">
        <h2>Restraunt &copy; all rights reserved</h2>
</footer>
</body>
</html>
